*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

img{
  width: 100%;
}

/**** UTILITIES ****/

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.h-90{
  height: 90px;
}

.d-none{
  display: none;
}

.t-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

/* COLORS */

.d-gray{
  color: darkgray;
}

/* MARGIN */

.mg-r-20{
  margin-right: 20px;
}

.mg-r-5{
  margin-right: 5px;
}

.mg-b-20{
  margin-bottom: 20px;
}

.mg-t-10{
  margin-top: 10px;
}

.mg-t-30{
  margin-top: 30px;
}

/* PADDING */

.pd-lr-1{
  padding: 0 1rem;
}

.pd-lr-05{
  padding: 0 .5rem;
}

.pd-l-03{
  padding-left: .3rem;
}

.pd-tb-05{
  padding: .5rem 0;
}

.pd-tb-02{
  padding: .2rem 0;
}

.pd-03{
  padding: 0.3rem;
}

.pd-05{
  padding: 0.5rem;
}

/* COMPONENTS */


.btn{
  border: 1px solid white;
  border-radius: 2rem;
  padding: .5rem 2rem;
  line-height: 1rem;
  transition: all .5s;
}


.box{
  flex-direction: column;
}

.card{
  width: calc(100% / 6);
  padding: .5rem;
  margin: 1rem 0;
}

.bar{
  background-color: grey;
  height: 3px;
  width: 80%;
  border-radius: 20px;
  position: relative;
}

.bar2{
  position: absolute;
  background-color: lightgray;
  width: 25%;
  height: 3px;
}

.bar-end{
  height: 15px;
  width: 15px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  left: 24%;
  display: none;
}

.active{
  border-left: 3px solid #B8FF32;
}

.active-btm{
  border-bottom: 3px solid #B8FF32;
  position: relative;
}

.active-btm::before{
  content: "";
  display: block;
  background-color: #141922;
  width: 30%;
  height: 10px;
  position: absolute;
}

.active-btm::after{
  content: "";
  display: block;
  background-color: #141922;
  width: 30%;
  height: 10px;
  position: absolute;
  right: 0;
}

/* HEADER */

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.btn a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7rem;
  color: white;
}

.btn:hover{
  transform: scale(1.1);
}

/* MAIN */

/* SIDENAV */

.sidenav{
  background-color: #000000;
  flex-direction: column;
  width: 225px;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.sidenav .logo-dk{
  width: 70%;
  filter: brightness(0) invert(1);
}

.sidenav .playlist h2{
  text-transform: uppercase;
  font-size: .8rem;
}

.sidenav .playlist i{
  transform: scale(2);
  margin-right: .5rem;
}

.sidenav .new-playlist:hover{
  color: white;
  cursor: pointer;
}

.sidenav .play-scroll{
  overflow: auto;
  height: 250px;
}

.sidenav .playlist ul{
  list-style: none;
}

.playlist ul li:hover{
  color: white;
  cursor: pointer;
}

.sidenav .nav-menu{
  width: 100%;
}

.sidenav .nav-menu a{
  font-size: .8rem;
  text-decoration: none;
}

.sidenav .nav-menu a:hover{
  color: white;
  cursor: pointer;
}

.sidenav .nav-menu img{
  width: 1.5rem;
  margin-right: 5px;
}

.sidenav .install:hover{
  color: white;
  cursor: pointer;
}

.sidenav .install span{
  font-size: .7rem;
}

.sidenav .install img{
  width: 1rem;
}

.sidenav .user{
  border-top: 1px solid gray;
  padding-top: .5rem;
}

.sidenav .user img{
  width: 1.5rem;
  height: 1.5rem;
  background-color: gray;
  border-radius: 50%;
}

.sidenav .user-name{
  margin-left: .5rem;
}

.playlist ul li{
  font-size: .75rem;
}

/* CONTENT */

.content{
  background-color: #141922;
  color: white;
  height: calc(100vh - 90px);
  width: calc(100% - 225px);
  overflow: auto;
  padding-top: 90px;
}

.content-menu{
  justify-content: center;
}

.content-menu ul{
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.content-menu ul li{
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  color: lightgray;
}

.content-menu ul li:hover{
  color: white;
  cursor: pointer;
}

.box .card-container{
  width: 100%;
}

.box h2{
  font-size: 1.3rem;
}

.box p{
  font-size: .8rem;
  margin-top: .3rem;
}

.card{
  flex-direction: column;
}

.card-image{
  position: relative;
}

.card-image .black{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  z-index: 0;
  display: none;
}

.card-image i{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: scale(2);
  display: none;
}

.card-image:hover .black,
.card-image:hover i{
  display: block;
}

.card-title{
  font-size: .8rem;
}

.subtitle{
  font-size: .7rem;
  margin-top: .3rem;
}

#popular img{
  border-radius: 50%;
}


/* FOOTER */

footer{
  /* z-index: 3; */
  color: white;
  background-color: #282828;
  align-items: center;
}

footer .footer-left{
  align-items: center;
  width: 225px;
}

footer .footer-mid{
  width: 50%;
}

footer .footer-right{
  width: 225px;
}

footer .footer-left .artist-img{
  width: 20%;
}

footer .footer-left .text{
  flex-direction: column;
  font-size: .7rem;
  width: 70%;
  padding-left: .5rem;
}

.footer-left .text span:first-child{
  color: white;
}

.footer-left .text span:last-child:hover{
  text-decoration: underline;
}

.footer-left .icons i:hover{
  color: white;
  cursor: pointer;
}

footer ul{
  list-style: none;
}

.footer-mid{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-mid .controls{
  width: 50%;
}

.controls ul li:nth-child(3):hover{
  transform: scale(1.2);
}

.footer-mid .progress{
  align-items: center;
  width: 100%;
}

.progress:hover .bar2{
  background-color: #B8FF32;
}

.progress:hover .bar-end{
  display: block;
}

.footer-mid .progress span{
  font-size: .6rem;
}

.footer-right{
  align-items: center;
}

.footer-right .bar:hover .bar2{
  background-color: #B8FF32;
}

.footer-right .bar:hover .bar-end{
  display: block;
}

.footer-right .options{
  width: 55%;
  justify-content: space-around;
}

.footer-right .options i{
  font-size: .7rem;
}




/* RESPONSIVE */

@media screen and (max-width: 780px) {
  .card-container{
    flex-wrap: wrap;
  }
  .card{
    width: calc(100% / 4);
  }

  .footer-mid .controls{
    width: 80%;
  }

  .footer-mid .progress .bar{
    margin: 0 1rem;
  }

}

@media screen and (max-width: 560px) {

  .content-menu ul li{
    width: 33%;
    padding: 10px;
  }

  .card{
    width: calc(100% / 2);
  }

  .footer-left,
  .footer-mid,
  .footer-right{
    width: calc(100% / 3);
  }

  footer .icons{
    flex-direction: column;
  }

  .footer-mid .controls{
    width: 100%;
  }

  .footer-mid .bar{
    width: 60%;
  }
  
}

@media screen and (max-width: 480px) {


    header{
      z-index: 1;
    }

    .sidenav{
      width: 50px;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }

    .sidenav .nav-menu{
      display: flex;
      flex-direction: column;
    }

    .sidenav .nav-menu a{
      display: none;
    }

    .active{
      border: none;
    }

    .sidenav .logo-xs{
      display: flex;
      align-items: center;
      filter: brightness(0) invert(1);
      transform: scale(.6);
    }

    .sidenav-bottom img{
      margin: 0 auto;
    }

    .sidenav .user{
      border: none;
    }

    .d-none-480{
      display: none;
    }

    .content{
      width: calc(100% - 50px);
    }
}