*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/**** UTILITIES ****/

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content: space-between;
}

/* MARGIN */

.mg-r-20{
  margin-right: 20px;
}

.mg-b-20{
  margin-bottom: 20px;
}

.mg-t-10{
  margin-top: 10px;
}
/* PADDING */

.pd-lr-1{
  padding: 0 1rem;
}

.pd-lr-05{
  padding: 0 .5rem;
}

.pd-tb-05{
  padding: .5rem 0;
}

.pd-tb-02{
  padding: .2rem 0;
}

/* COMPONENTS */


.btn{
  border: 1px solid white;
  border-radius: 2rem;
  padding: .5rem 2rem;
  line-height: 1rem;
}


.box{
  flex-direction: column;
}

.card{
  width: calc(100% / 6);
  padding: .5rem;
  margin: 1rem 0;
}

header,footer{
  height: 90px;
}

/* HEADER */

header{
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 1; */
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.btn a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7rem;
  color: white;
}

/* MAIN */

.sidenav{
  background-color: #000000;
  color: lightgray;
  flex-direction: column;
  /* z-index: 2; */
  width: 225px;
  height: calc(100vh - 90px);
}

.sidenav .logo-dk{
  height: 90px;
  width: 70%;
  filter: brightness(0) invert(1);;
}

.sidenav .playlist i{
  transform: scale(2);
  margin-right: .5rem;
}

.sidenav .playlist ul{
  overflow: scroll;
  margin-top: 1rem;
}

.playlist ul li{
  font-size: .8rem;
}

.content{
  background-color: #141922;
  color: white;
  height: calc(100vh - 90px);
  width: calc(100% - 225px);
  overflow: auto;
  padding-top: 90px;
}

.content-menu{
  justify-content: center;
}

.content-menu ul{
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.content-menu ul li{
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  color: lightgray;
}

.content-menu ul span{
  font-weight: bolder;
}

.box .card-container{
  width: 100%;
}
/* FOOTER */

footer{
  /* z-index: 3; */
  color: white;
  background-color: #282828;
  align-items: center;
}

footer .footer-left{
  align-items: center;
}

footer .footer-left .text{
  flex-direction: column;
}

footer ul{
  list-style: none;
}



/* RESPONSIVE */

@media screen and (max-width: 780px) {
  .card-container{
    flex-wrap: wrap;
  }
  .card{
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 560px) {

  .content-menu ul li{
        /* width: 40%; */
  }

  .card{
    width: calc(100% / 2);
  }

  footer .icons{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 480px) {
    .sidenav{
      width: 50px;
    }

    .sidenav .playlist,
    .install span,
    .user-name{
      display: none;
    }

    .content{
      width: calc(100% - 50px);
    }
}